.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 30px;
  }
  
  .blogItem {
    background: #fff no-repeat center/cover;
    backdrop-filter: blur(10px);
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .blogItem:hover {
    transform: scale(1.05);
  }
  
  .blogIntro{
    font-size: 1.5rem;
    padding: 50px 50px 50px 0;
  }

  .blogHead{
    cursor: pointer;
  }